[Unit]
Description=Invenium Location Insights
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/invenium/location-insights${PACKAGE_SUFFIX}
ExecStartPre=/bin/chown -R invenium:invenium /var/run/invenium/location-insights${PACKAGE_SUFFIX}
RuntimeDirectory=invenium/location-insights${PACKAGE_SUFFIX}
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=/etc/sysconfig/invenium-location-insights${PACKAGE_SUFFIX}
ExecStart=/usr/bin/java $JAVA_OPTS -jar /usr/share/invenium/location-insights${PACKAGE_SUFFIX}/location-insights.jar -c /etc/invenium/location-insights${PACKAGE_SUFFIX}/application.yml
KillMode=process
Restart=always
KillSignal=SIGINT
SendSIGKILL=yes
User=invenium

[Install]
WantedBy=multi-user.target
